### Estimate ping-to-transfer ratio for barges using median time intervals between AIS ship tracks

In [6]:
from pathlib import Path
import geopandas

In [7]:
input_dir = Path('/Users/rmueller/Data/MIDOSS/Vessel Track Shapefiles')

In [8]:
atb_tracks = geopandas.read_file(input_dir/'atb_2018_01.shp')
atb_tracks.head(2)

,MMSI_NUM,LENGTH,TO,FROM_,geometry
0,316001223.0,41,US,US,"LINESTRING (-122.77576 48.33664, -122.77798 48..."
1,316001223.0,41,US,US,"LINESTRING (-122.77798 48.33187, -122.77848 48..."

In [9]:
barge_tracks = geopandas.read_file(input_dir/'barge_2018_01.shp')
barge_tracks.head(2)

,MMSI_NUM,LENGTH,TO,FROM_,geometry
0,316001068.0,30,None,None,"LINESTRING (-123.87199 49.14501, -123.87853 49..."
1,316001068.0,30,None,None,"LINESTRING (-123.87853 49.16582, -123.88185 49..."

In [14]:
test = geopandas.read_file('/Users/rmueller/Data/MIDOSS/cargo_2018_01/cargo_2018_01.shp')
test.head(2)

,MMSI,ST_DATE,EN_DATE,LENGTH,TO,FROM_,geometry
0,209034000,2018-01-01 05:29:11,2018-01-01 05:29:33,229,None,None,"LINESTRING (-125.91134 48.00090, -125.90970 48..."
1,209034000,2018-01-01 05:29:33,2018-01-01 05:29:42,229,None,None,"LINESTRING (-125.90970 48.00167, -125.90898 48..."