## Figure 5: 
## Data used for the percent capacity spill calculation

Use `analysis-rachael/env/monte_carlo.yaml` to create an environment for this notebook:
```
 conda env create -f [analysis-rachael/env/monte_carlo.yaml]
```
or, to activate this environment, use
```
 conda activate monte-carlo
```
To deactivate an active environment, use
```
 conda deactivate
```

The data shown here was researched and curated by Ryah Rondolo (UBC)

In [1]:
import numpy
import pandas
import matplotlib.pyplot as plt
from math import exp
import pathlib
import yaml
pandas.options.display.float_format = '{:,.2f}'.format
pandas.set_option('display.max_rows', None)

In [2]:
data_directory = pathlib.Path(
    '/Users/rmueller/Data/MIDOSS/marine_transport_data/'   
)
data_file = data_directory/'Past_Spill_Events_and_Vessel_Info.xlsx'

output_directory = data_directory

# load excel data
pastSpills = pandas.read_excel(
    data_file,
    sheet_name='Past Major Spill Events ', 
    usecols='A,B,D,E,F,G'
)

In [3]:
format_dict = {
    'Approx. Volume Spilled (L)': '{:.2e}',
    'Oil On Board (L)': '{:.2e}',
    'Approx. % Oil Spilled (L)': '{:.1%}'
}

In [4]:
pastSpills=pastSpills.set_index('Spill Event').sort_values(
    by='Approx. Volume Spilled (L)', ascending=False).dropna()
pastSpills.head().style.format(format_dict)

In [11]:
pandas.set_option('display.max_rows', None)
pastSpills.head().style.format(format_dict).to_markdown()

AttributeError: 'Styler' object has no attribute 'to_markdown'